* {
    margin: 0;
    padding: 0;
    color:white;
}
body{
    background-color: black;
}
.heading{
    text-align: center;
    font-size:40px;
    margin-bottom: 40px;
}
.table{
    width: 330px;
    border:1px solid rgb(251, 249, 249);
    justify-content: center;
    border-radius: 10px;
    margin:  auto auto 40px auto;
}
.disply{
    width: 100%;
    display:flex; 
    border-top-right-radius: 10px;
    background-color: rgb(58, 56, 54);
    height: 100px;
}
.screen{
    width:80%;
    height:100%;
    border-top-left-radius: 10px;
    
}
 .disply .screen .result-screen{
    margin:8px 8px 0px 8px;
    border-radius: 5px;
    height: 80%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    
}
.input-val,.output-val{
    color:black;
    width:100%;
    height:50%;
    display: inline-block;
    font-family: 'Digital 7'; 
    text-align: right;
    font-size:xx-large;
    margin-left: -5px;
}
.power{
    width:20%;
}
.on-of{
    width:100%;
    margin-top: 12%;
    margin-left: -3px;
    height:80%;
    border-radius: 10px;
    background-color: rgb(255, 52, 52);
    font-size: large;
    cursor: pointer;
    color:white;
}
.final{
    background-color: rgb(81, 255, 92);
    color:black;
}
@font-face {
    font-family: 'Digital 7';
    src: url('digital-7.ttf') format('truetype');
}
.controls{
    width:100%;
    display: flex;
    background-color: rgb(251, 246, 246);
    border-radius:0px 0px 5px 10px;
}
.nums{
    width:80%;
    display: flex;
    flex-wrap: wrap; 
}
.nums button{
    margin:3px;
    width:80px;
    flex-grow: 1;
    color: rgb(251, 253, 253);
    border-radius: 5px;
	background-color:rgb(79, 79, 79);
    font-size:x-large;
    box-shadow: 3px 3px rgb(236, 174, 17);
    border:none;
    cursor: pointer;
    height: 78px;
}
.error{
    margin-left: 5px;
    text-align: left;
    font-family: 'Times New Roman';
}
.operators{
    width:20%;
    display:flex;
    flex-direction: column;
    margin: 0% 1%;
}
.operators button{
    width:100%;
    flex-grow: 1;
    margin:10px 0px;
    border-radius: 10px;
    font-size:x-large;
    color:black;
    cursor:pointer;
}
.operators button:hover{
	color:white;
	background-color:rgb(67,66,66);
}
.nums .changes{
    border-radius: 5px;
    background: rgb(255, 255, 255);
    color: rgb(5, 5, 5);
    flex-grow: 2;
}
.nums .changes:hover, .nums .s:hover
{
    border:1px solid black;
    box-shadow: none;
}
footer{
    width:100%;
    height:10vh;
    text-align: center;
    align-items: baseline;
    border-top:1px dashed white;
}
footer p{
    margin-top:10px;
}
img{
    width:30px;
}
.nums .s{
	color:red;
	 background-color:rgb(254,254,254);
}
